@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


  <div class="container">
                  This is the Great Page with plenty of ideas, but to little time.
                  Some day i will continue this. 
                  But for this assignment I'm pleased with this, for now
              </div>







